@page
@model EnergyUI.Pages.Containers.LoginSModel
@{
    ViewData["Title"] = "LoginS";
}

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
    <form method="post">


        <div class="login-box">
            <h1>Iniciar Sesion</h1>
 
            <div class="textbox" data-validate="Username is required">
                <span class="label-input100">Usuario</span>
                <input class="form-control" type="text" asp-for="@Model.user.UserName">
            </div>



            <div class="textbox" data-validate="Password is required">
                <span class="label-input100">Contraseña</span>
                <input class="form-control" type="password" asp-for="@Model.user.Password">
            </div>
            <div class="row">


                <div class="col-sm-4">

                    <div class="form-group">
                        <br>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Iniciar sesion </button>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </form>

</body>

